.key {
    background-color: rgb(129, 131, 132);
    height: 58px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 43px;
    color: white;
    cursor: pointer;
}

.key[data-key="Enter"],
.key[data-key="Backspace"] {
    max-width: 65px;
}

.key[data-key="Enter"] {
    font-size: 12px;
}